@import './base/variables';
@import './base/utils';

@import './layout/header';
@import './layout/logo';
@import './layout/nav';
@import './layout/hero';
@import './layout/button';
@import './layout/benefits-section';
@import './layout/activity-section';
@import './layout/section-title';
@import './layout/team-section';
@import './layout/social-list';
@import './layout/clients-section';
@import './layout/footer';

/* Benefits section */


/* Activity section */

/* Team section */

/* Footer section */



/* Backdrop&Modal */

.backdrop.is-hidden {
  /* visibility: hidden; */
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  opacity: 1;
  transition: opacity 250ms var(--time-function) 250ms;

  width: 100%;
  height: 100%;
  background-color: var(--backdrop);
}

.backdrop.is-hidden.modal {
  transform: translate(-50%, -50%) scale(0.85);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: scale 250ms var(--time-function);

  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;

  background-color: var(--white-color);
  box-shadow: var(--shadow-modal);
}

.modal .modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  transition: fill 250ms var(--time-function);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  background: var(--white-color);
  border: 1px solid var(--border-close-button);
  cursor: pointer;
}

.modal .modal-button:hover,
.modal .modal-button:focus {
  fill: var(--accent-color);
}

.button .icon {
  display: block;
}

.form-title {
  margin-top: 0;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.input-wrap > .icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms var(--time-function);
}

.form-label {
  margin-bottom: 4px;
  cursor: pointer;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--desc-color);
}

.form-input,
.form-textarea {
  outline: none;
  width: 100%;
  height: 40px;
  padding: 0 0 0 42px;
  border-radius: 4px;

  border: 1px solid var(--border-input-form);
  transition: border 250ms var(--time-function);
}

.form-input:focus,
.form-input:hover,
.form-textarea:focus,
.form-textarea:hover {
  border-color: var(--accent-color);
  cursor: pointer;
}

.form-input:focus + .icon,
.form-input:hover + .icon {
  fill: var(--accent-color);
}

.field-textarea {
  margin-bottom: 20px;
}

.form-textarea {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  
  transition: border 250ms var(--time-function);
}

.form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--placeholder-text-color);
}

.form-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.label-checkbox {
  display: flex;
  cursor: pointer;
}

.input-checkbox:hover ~ .icon-wrap > .icon-uncheked,
.input-checkbox:focus ~ .icon-wrap > .icon-uncheked {
  fill: var(--accent-color);
  
}

.checkbox-desc {
  margin-right: 5px;

  line-height: 1.17;
  color: var(--desc-color);
}
 

.input-checkbox:checked + .icon-wrap > .icon-cheked {
  opacity: 1;
}

.input-checkbox:checked + .icon-wrap > .icon-unchecked {
  opacity: 0;
}


.icon-wrap {
  position: relative;
  margin-right: 8px;
  }

.icon-uncheked {
  opacity: 1;
  transition: opacity 250ms var(--time-function),
  fill 250ms var(--time-function);
}

.icon-cheked {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 250ms var(--time-function);
}

.input-checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.checkbox-link {
  line-height: 1.17;
  color: var(--accent-color);
}

.form > .button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
}

/* SCC for portfolio.html */

/* Our projects section */

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.filter-btn {
  display: inline-block;
  border-width: 0;
  border-radius: 4px;
  border-style: none;
  padding: 6px 22px;

  background-color: var(--list-background-color);
  color: var(--title-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;

  transition: background-color 250ms var(--time-function),
    color 250ms var(--time-function), box-shadow 250ms var(--time-function);
}

.filter .first {
  min-width: 73px;
  padding: 6px 25px;
}

.filter .second {
  min-width: 125px;
}

.filter .third {
  min-width: 112px;
}

.filter .fourth {
  min-width: 103px;
}

.filter .fifth {
  min-width: 130px;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: var(--shadow-filter-btn);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /* margin-left: -30px;
  margin-top: -30px; */
}

/* .projects-list > .projects-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
} */
.projects-item .link {
  display: block;
  transition: box-shadow 250ms var(--time-function);
}

.projects-item .link:hover,
.projects-item .link:focus {
  box-shadow: var(--shadow-projects-item);
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-thumb .overlay-desc {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(101%);
  transition: transform 250ms var(--time-function);

  padding: 63px 24px;
  height: 100%;

  font-size: 18px;
  line-height: 1.6;
  color: var(--white-color);
  background-color: var(--project-overlay);
}

.project-thumb:hover .overlay-desc {
  transform: translateY(0);
}

.project-title {
  margin-bottom: 4px;

  color: var(--title-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-desc {
  color: var(--desc-color);
  font-size: 16px;
  line-height: 1.88;
}

.project-container {
  padding: 20px 24px;
  border-right: 1px solid var(--border-project-color);
  border-bottom: 1px solid var(--border-project-color);
  border-left: 1px solid var(--border-project-color);
}
