.clients-section__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients-section__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  border: 1px solid $social-icon-color;
  border-radius: 4px;

  fill: $social-icon-color;

  transition: fill $time-function, border $time-function;

  &:hover,
  &:focus {
    fill: $accent-color;
    border: 1px solid $accent-color;
  }
}