.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  fill: $social-icon-color;

  transition: background-color $time-function,
    fill $time-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
    fill: $white-color;
    }
}